# ==========================================
# Machine Learning / Deep Learning
# ==========================================
torch>=2.2
torchinfo>=1.8
torchvision>=0.17
torchmetrics>=1.3
torchview>=0.2
scikit-learn>=1.4
tensorboard>=2.16
tqdm>=4.66

# ==========================================
# Data Processing / Numerical Computing
# ==========================================
numpy>=1.26
pandas>=2.0
scipy>=1.11

# ==========================================
# Visualization / Plotting
# ==========================================
matplotlib>=3.8
seaborn>=0.13

# ==========================================
# Development / Notebook Environment
# ==========================================
jupyter
ipykernel

# ==========================================
# Tensorboard (To load jupyter notebook instances)
# ==========================================
setuptools==81.0